# Sample backup configuration
---

# Environment
DRY_RUN: False
AWS_CMD: 'aws'
DB_DUMP_CMD: 'pg_dumpall'
WORKING_DIR: '/home/user/backups' # Defaults to pwd
LOG_FILE_DIR: ''                 # Defaults to wdir

# Mail settings
EMAIL_HOSTNAME: ''  # Will default to
EMAIL_PASSWORD: ''  # console mail handler if
EMAIL_USERNAME: ''  # any of these fields are empty
EMAIL_RECIPIENT: ''

# FS backups will be indexed recursively from this dir
FILESYSTEM_PROJECT_ROOT: '/home/user/projects'
# FS backup paths will be written here
FILESYSTEM_BACKUP_PATHS_LOG: 'backup.paths.log'

# AWS S3 path for backup location
S3_FILES_PATH: 's3://bucket-name/filesystem/'
S3_POSTGRES_PATH: 's3://bucket-name/postgresql/'

# Number of backups at each level
DAYS: 7
WEEKS: 4
MONTHS: 6

# Day of week for weekly backup (0-6 : Mon-Sun)
WEEKLY_BACKUP_WEEKDAY: 5

# Day of month for monthly backup ( =< 28)
MONTHLY_BACKUP_DAY: 1

# Prefixes to identify backup files by level
DAILY_PREFIX: 'daily'
WEEKLY_PREFIX: 'weekly'
MONTHLY_PREFIX: 'monthly'
